<h1>Stupid Coach!</h1>
<br>
<br>
<head>Say something to the coach</head>
<br>
<br>
<form action="/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Submit!">
</form>
